.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sideNav {
  height: 85.5%;
  width: 32vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10px;
  bottom: 0;
  background-color: rgb(255, 208, 0);
  border: 2px solid black;
}

.buttons__home,
.buttons__figures,
.buttons__nat,
.buttons__era,
.buttons__gender,
.buttons__alive {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons p {
  margin: 0;
}

.buttons__figures p,
.buttons__nat p,
.buttons__era p,
.buttons__gender p,
.buttons__alive p {
  font-weight: bold;
}
