
.returnHome__button {
  padding: 8px 16px;
  background-color: #333;
  color: rgb(255, 208, 0);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.returnHome__button:hover {
  background-color: #555;
}
