@use "../../styles/variables" as *;

.footer {
  background-color: rgb(255, 208, 0);
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84vw;
  height: 10px;
  bottom: 0px;
  left: 230px;
  position: fixed;
}

.footer__name {
  font-size: 16px;
  font-family: $font-subheading;
}

.footer__socials {
  font-size: 20px;
}

.footer__socials a {
  color: white;
  margin-right: 10px;
}

.footer__socials a:hover {
  color: #3d3d3d;
}

.footer__icon {
  color: black;
  font-size: 30px;
  margin-right: 20px;
}

.footer__icon:hover {
  color: #999999;
}
